@using Fourth.Services.ViewModels.Forms
@using Fourth.Services.ViewModels.ViewModels

@model CustomerViewModel

@{
    if (Model.Customer != null)
    {
        ViewBag.Title = Model.Customer.CompanyName;
    }
}

<div class="row">
    @if (Model.Customer != null)
    {
        <div class="col-md-12 row">
            @Html.Partial("~/Views/Customer/_CustomerInfoPartial.cshtml", Model.Customer)
        </div>
        <div class="col-md-12 row">
            @Html.Partial("~/Views/Customer/_CustomerOrdersPartial.cshtml", Model.Orders)
        </div>
    }
    else
    {
        <div class="col-md-12 row">
            <p>There is no customer with the given Customer ID!</p>
        </div>
    }
</div>